<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>100% RAPFR</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/disque.ico" />
        <!-- Bootstrap icons-->
        <link href="static/css/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/./css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="index">100% RAP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/"><strong>Accueil</strong></a></li>
                        <li class="nav-item"><a class="nav-link" href="affRappeurs">Rappeurs</a></li>
                        <li class="nav-item"><a class="nav-link" href="affGroupes">Groupes</a></li>
                        <li class="nav-item"><a class="nav-link" href="affMusiques">Musiques</a></li>
                        <li class="nav-item"><a class="nav-link" href="affConcerts">Concerts</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Covoiturage</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="affCovoiturage">Les covoiturages</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="affProposer">Proposer un covoiturage</a></li>
                                <li><a class="dropdown-item" href="affAnnonces">S'inscrire à un covoiturage</a></li>
                                <li><a class="dropdown-item" href="pageInscrit">Liste des inscrits</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">CRUD</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="">CRUD</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="pageAjouter">Ajouter</a></li>
                                <li><a class="dropdown-item" href="pageSupprimer">Supprimer</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Bienvenue sur le site spécialisé sur le rap français</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Vous trouverez de nombreuses informations sur les rappeurs et leurs musiques !</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <style>
                .gaucheIMG {
                    float: left;
                    width: 80%;
                }

                .droiteBTN {
                    float: right;
                    width: 20%;
                    margin-top: 18%;
                    
                }

                .gaucheBTN {
                    float: left;
                    width: 20%;
                    margin-top: 18%;
                    
                }
                .droiteIMG {
                    float: right;
                    width: 80%;
                }
            </style>
            <div class="gaucheIMG">
                <img class="card-img-top" src="static/assets/nekfeu.jpg" alt="..." />
            </div>
            <div class="droiteBTN">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="affRappeurs"><strong>DES RAPPEURS</strong></a></div>
            </div>
            
            <div class="droiteIMG">
                <img class="card-img-top" src="static/assets/screw.jpeg" alt="..." />
            </div>
            <div class="gaucheBTN">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="affGroupes"><strong>DES GROUPES</strong></a></div>
            </div>

            <div class="gaucheIMG">
                <img class="card-img-top" src="static/assets/nepal.jpg" alt="..." />
            </div>
            <div class="droiteBTN">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="affMusiques"><strong>DES MUSIQUES</strong></a></div>
            </div>

            <div class="droiteIMG">
                <img class="card-img-top" src="static/assets/concerts1.jpeg" alt="..." />
            </div>
            <div class="gaucheBTN">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="affConcerts"><strong>DES CONCERTS</strong></a></div>
            </div>
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    
                </div>
            </div>
        </section>


        <!-- Footer-->
        <!-- Bootstrap core JS-->
        <script src="static/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>
    </body>
</html>
