
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>100% RAPFR</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/disque.ico" />
        <!-- Bootstrap icons-->
        <link href="static/css/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">100% RAP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="index">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="affRappeurs">Rappeurs</a></li>
                        <li class="nav-item"><a class="nav-link" href="affGroupes">Groupes</a></li>
                        <li class="nav-item"><a class="nav-link" href="affMusiques">Musiques</a></li>
                        <li class="nav-item"><a class="nav-link" href="affConcerts">Concerts</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><strong>Covoiturage</strong></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="affCovoiturage">Les covoiturages</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="affProposer">Proposer un covoiturage</a></li>
                                <li><a class="dropdown-item" href="affAnnonces"><strong>S'inscrire à un covoiturage</strong></a></li>
                                <li><a class="dropdown-item" href="pageInscrit">Liste des inscrits</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">CRUD</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="">CRUD</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="pageAjouter">Ajouter</a></li>
                                <li><a class="dropdown-item" href="pageSupprimer">Supprimer</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">S'inscrire à un covoiturage</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Inscrivez vous à l'annonce que vous souhaitez afin de vous rendre à un concert</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                % for e in mesAnnonces :
                    ${e} <br />
                % endfor   
                </div>
                <h1>Formulaire de base d'inscription à un covoiturage</h1>
                    <form action="inscriptionAnnonces">
                        <label for="Concert">N°Concert :</label>
                        <input type="int" id="Concert" name="Concert" required><br><br>
                        
                        <label for="Nom">Nom :</label>
                        <input type="text" id="Nom" name="Nom" required><br><br>
                        
                        <label for="Prénom">Prénom :</label>
                        <input type="text" id="Prénom" name="Prénom" required><br><br>

                        <label for="Numéro">Numéro de téléphone :</label>
                        <input type="text" id="Numéro" name="Numéro" required><br><br>
                        
                        <input type="submit" value="AJOUTER">
                    </form>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Matteo SCHMIDT &copy; 100% RAPFR</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="static/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>
    </body>
</html>


